{
  "presets": [
    // "@babel/preset-typescript",  // install && open this for typescript support
    [
      "@babel/preset-env",
      {
        "targets": "defaults"
      }
    ]
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}
